@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#568C99, #BDD9DF);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #16434d52;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: #2A3A74;
    text-shadow: 1px 2px 2px #1f5c6a49;
}

h2{
    color: #23803B;
}

p{
    text-align: justify;
}